.user_image{
	width: 100%;
	height: 300px;
}

.user_image img{
	width: 100%;
	height: 300px;
}

.user_image video{
	width: 100%;
}

#prueba{
	width: 100%;
	height: 200px;
	background: url("../uploads/images/user-foto.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#prueba #canvas{
	width: 100%;
	height: 200px;
}

.user_foto{
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
}

.user_foto img{
	padding-left: 15%;
	padding-right: 15%; 
	width: 100%;
	height: 100%;
}