/* CSS Document */
#fondo{
	/*width:917px;
	height:528px;
	background:url(imge/fondo.png);*/
}

#fecha{
	position: relative;
	padding-top:30px;
	padding-left: 520px;
}

#factura{
	position: absolute;
	padding-top: -30px;
	padding-left: 400px;
}
#fecha span{
	margin-left:12px;
}
#nomedico{
	position: absolute;
	padding-left: 100px;
	padding-top:23px;
}
#cedula{
	position: absolute;
	padding-left:600px;
	padding-top:23px;
}
#paciente{
	padding-left: 105px;
	padding-top: 46px;
}
#depart{
	padding-left: 110px;
	/*padding-top: px*/
}
#medicament{
	padding-left: 50px;
	padding-top: 20px;
	width: 700px;
	font-size: 14px;
	font-weight: bold;	
}