/* CSS Document */
#fondo{
	/*width:917px;
	height:528px;
	background:url(imge/fondo.png);*/
}
/*Estilo para la impresion de nota*/
#fecha{
	padding-top:130px;
	padding-left: 400px;
}
#nomedico{
	padding-left: 120px;
	padding-top:5px;
}
#cedula{
	float:right;
	padding-right:100px;
	/*padding-top:10px;*/
}
#paciente{
	padding-left: 135px;
	/*padding-top:5px;*/
}
#depart{
	padding-left: 190px;
	/*padding-top:5px;	*/
}
#medicament{
	padding-left: 120px;
	padding-top:40px;
	width:700px;	
	word-wrap: break-word;
}