/* CSS Document */
#fondo{
	/*width:917px;
	height:528px;
	background:url(imge/fondo.png);*/
}

#fecha{
	position: relative;
	padding-top:30px;
	padding-left: 500px;
}
#fecha span{
	margin-left:12px;
}
#nomedico{
	position: absolute;
	padding-left: 100px;
	padding-top:23px;
}
#cedula{
	position: absolute;
	padding-left:600px;
	padding-top:23px;
}
#paciente{
	padding-left: 100px;
	padding-top: 45px;
}
#depart{
	padding-left: 100px;
	/*padding-top: 5px*/
}
#medicament{
	padding-left: 50px;
	padding-top: 40px;
	width: 700px;
	font-size: 12px;	
}